:root {
  --blue: #09009b;
  --black: #040403;
}

body {
  height: 100vh;
  width: 100vh;
  background-image: -webkit-linear-gradient(135deg, var(--blue) 40%, white 40%);
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

.leftGrid {
  background-color: var(--black);
}
.socialNavPaper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}

.socialNavImages {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.rightGrid {
  padding: 400px;
}
nav {
  width: 80%;
  height: 20px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
nav ul .link {
  list-style-type: none;
  font-size: 18px;
}
.container {
  width: 100vh;
  height: 88vh;
  background-color: aqua;
}
