:root {
  --yellow: #ffcc02;
  --black: #040403;
}

body {
  height: 100vh;
  width: 100vh;
  background-image: -webkit-linear-gradient(
    135deg,
    var(--black) 40%,
    var(--yellow) 40%
  );
  background-repeat: no-repeat;
}

.leftGrid {
  background-color: var(--black);
}
.socialNavPaper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}

.socialNavImages {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.rightGrid {
  padding: 400px;
}
nav {
  width: 80%;
  height: 20px;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style-type: none;
  font-size: 18px;
}
